[defaults]
inventory = ./inventory.ini
roles_path = ./PreFlight_Healthcheck/roles:./PostInstall_Healthcheck/roles
host_key_checking = False
retry_files_enabled = False
remote_tmp = /var/tmp
stdout_callback = ansible.builtin.default
result_format = yaml
bin_ansible_callbacks = True
force_color = True
nocolor = False
no_target_syslog = False
syslog_facility = LOG_USER
deprecation_warnings = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ForwardX11=no
control_path_dir = /tmp/.ansible-cp
retries = 3

[galaxy]
server_list = rh_certified, validated, community_galaxy

[galaxy_server.rh_certified]
url = https://console.redhat.com/api/automation-hub/content/rh-certified/
auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
# token sourced from vaulted var vault_console_redhat_token (fallback HUB_TOKEN)
token = ${HUB_TOKEN}

[galaxy_server.validated]
url = https://console.redhat.com/api/automation-hub/content/validated/
auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
# token sourced from vaulted var vault_console_redhat_token (fallback HUB_TOKEN)
token = ${HUB_TOKEN}

[galaxy_server.community_galaxy]
url = https://galaxy.ansible.com/

[vault]
vault_password_file = ~/.ansible/conf/.vaultpass.txt
